*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.grid-container {
    height: 100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    color: red;
    height: 50%;
    width: 50%;
    display: grid;
    grid-template: repeat(16, auto) / repeat(16, auto);
}



