*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#h1-container {
    height: 15%;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    color: white;
    margin: 1%;
    font-size: 3vw;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: slategray;
}

.flex-box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.color-modes, .bottom-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    color: white;
    background: darkslategray;
    width: 70px;
    height: 30px;
}

#hex, #color-picker {
    border-color: black;
}

.color-modes {
    padding-bottom: 1%;
}

#color-picker-container {
    display: flex;
    align-items: center;
}

.bottom-buttons {
    padding-top: 1%;
    
}

.slider {
    flex-grow: 1;
    margin-left: 10%;
}

.grid {
    background-color: white;
    border-style:solid;
    border-color: black;
    height: 200px;
    width: 200px;
    display: grid;
    grid-template: repeat(50, auto) / repeat(50, auto);
}

.color-modes, .bottom-buttons {
    width: 500px;
}

.grid-container {
    background: linear-gradient(45deg, #aaaaaa 0 50%, #75757b 50% 100%);
    padding: 20px;
}

#label-container {
    width: 387px;
    margin-left: 43px;
    display: flex;
    justify-content: space-between;
}


label {
    text-align: center;
    color: white;
}

#range-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

#myRange {
    direction: rtl;
}