*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex-box {
    height: 100vh;
    width:100vw;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.color-modes, .bottom-buttons {
    display: flex;
    justify-content: space-between;
}

.color-modes {
    padding-bottom: 1%;
}

#color-picker-container {
    display: flex;
    align-items: center;
}

.bottom-buttons {
    padding-top: 1%;
}

.grid {
    border-style:solid;
    border-color: black;
    height: 50%;
    display: grid;
    grid-template: repeat(16, auto) / repeat(16, auto);
}

.grid, .color-modes, .bottom-buttons {
    width: 50%
}
